body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav h1 {
  margin: 0;
  padding: 0;
  display: inline;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.search-bar {
  background-color: #f4f4f4;
  padding: 20px 0;
  text-align: center;
}

.search-bar h2 {
  margin: 0;
  text-align: center;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  margin-right: 10px;
}

.search-bar button.track-button {
  padding: 40px 30px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button.track-button:hover {
  background-color: #555;
}

.quote-button {
  padding: 5px 10px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 5px;
  transition: background-color 0.3s ease;
}

.quote-button:hover {
  background-color: darkred;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  width: calc(30% - 20px); /* Adjust width as needed */
  margin-top: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.box img {
  max-width: 100%;
  margin-bottom: 15px;
}

.box p {
  display: none;
}

.box p.show {
  display: block;
}
